VITE_PROFILE=(dev || prod, defaul: dev) perfil que roda dev, o prefixo do socket é vazio, enquanto deve é preenchido pela variavel 
VITE_API_URL=
VITE_API_PREFIX=/api
VITE_SOCKET_PREFIX=/socket
VITE_BACKEND_URL=http://localhost:3000 //caso esteja rodando o docker ao inves do local host, informe o container
VITE_GOOGLE_CLIENT_ID=seu_client_id_aqui